@font-face {
  font-family: 'Quicksand', sans-serif;
  src: url(../fonts/Quicksand-Light.woff2), url(../fonts/Quicksand-Light.woff);
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: 'Quicksand', sans-serif;
  src: url(../fonts/Quicksand-Regular.woff2), url(../fonts/Quicksand-Regular.woff);
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'Quicksand', sans-serif;
  src: url(../fonts/Quicksand-Medium.woff2), url(../fonts/Quicksand-Medium.woff);
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: 'Quicksand', sans-serif;
  src: url(../fonts/Quicksand-SemiBold.woff2), url(../fonts/Quicksand-SemiBold.woff);
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: 'Quicksand', sans-serif;
  src: url(../fonts/Quicksand-Bold.woff2), url(../fonts/Quicksand-Bold.woff);
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: 'Roboto', sans-serif;
  src: url(../fonts/Roboto-Light.woff2), url(../fonts/Roboto-Light.woff);
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: 'Roboto', sans-serif;
  src: url(../fonts/Roboto-Regular.woff2), url(../fonts/Roboto-Regular.woff);
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'Roboto', sans-serif;
  src: url(../fonts/Roboto-Medium.woff2), url(../fonts/Roboto-Medium.woff);
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: 'Roboto', sans-serif;
  src: url(../fonts/Roboto-Bold.woff2), url(../fonts/Roboto-Bold.woff);
  font-style: normal;
  font-weight: 700;
}
*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: #fff;
  text-decoration: none;
}

a:visited {
  color: #fff;
}

textarea {
  resize: none;
  border: none;
  outline: none;
}

input {
  outline: none;
  border: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

ul, ol {
  list-style: none;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
}

.btn {
  padding: 13px 21px;
  font-family: 'Quicksand', sans-serif;
  font-size: 13px;
  line-height: 16px;
}

input[type="search"]::-webkit-search-cancel-button {
  display: none;
}

.active {
  display: block !important;
}

.not-active {
  display: none !important;
}

.container {
  max-width: 1206px;
  width: 100%;
  margin: 0 auto;
}

body {
  background-color: #E4E6F0;
}

.header {
  background-color: #fff;
  font-family: 'Quicksand', sans-serif;
}
.header__inner {
  display: flex;
  align-items: center;
  padding: 19px 117px;
}
.header__img {
  margin-right: 73px;
}
.header__nav {
  text-align: center;
}
.header__nav-list {
  display: flex;
}
.header__nav-item:not(:last-child) {
  margin-right: 42px;
}
.header__nav-link {
  color: #697CA6;
  font-size: 12px;
  line-height: 15px;
  font-weight: 500;
}
.header__media {
  display: flex;
  margin-left: auto;
  margin-right: 44px;
}
.header__media-item:not(:last-child) {
  margin-right: 35px;
}
.header__media-link {
  display: inline-block;
}
.header__media-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
}
.header__btn {
  padding: 15px 13px;
  color: #3D4F9F;
  background-color: #D2E1FF;
  font-weight: 13px;
  line-height: 16px;
  font-weight: 700;
}

.facebook-icon {
  background: url(../img/icon-fb.svg) center no-repeat;
}

.telegram-icon {
  background: url(../img/icon-tg.svg) center no-repeat;
}

.twitter-icon {
  background: url(../img/icon-twitter.svg) center no-repeat;
}

.media-icon {
  background: url(../img/icon-m.svg) center no-repeat;
}

.hero {
  background-image: url(../img/hero-background.png);
  background-size: cover;
  background-position: center;
  font-family: 'Roboto', sans-serif;
}
.hero__inner {
  padding: 92px 0 284px 0;
}
.hero__text {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  max-width: 580px;
  text-align: center;
}
.hero__suptitle {
  font-size: 10px;
  line-height: 12px;
  font-weight: 500;
}
.hero__title {
  color: #3D4F9F;
  font-family: 'Quicksand', sans-serif;
  font-size: 48px;
  line-height: 60px;
  font-weight: 300;
}
.hero__subtitle {
  margin-bottom: 20px;
  max-width: 500px;
  color: #8D96BD;
  font-size: 15px;
  line-height: 29px;
  font-weight: 400;
}
.hero__btn {
  padding: 26px;
  border-radius: 50%;
  box-shadow: 0 0 5px lightgray;
  background-color: #fff;
  background-image: url(../img/icon-play.svg);
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}

.partners {
  background-color: #fff;
}
.partners__inner {
  padding: 61px 159px;
}
.partners__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.partners__icon {
  display: inline-block;
  width: 120px;
  height: 25px;
}

.bitbucket-logo {
  background: url(../img/bitbucker-logo.svg) center no-repeat;
}

.watch-logo {
  background: url(../img/watch-logo.svg) center no-repeat;
}

.facebook-logo {
  background: url(../img/facebook-logo.svg) center no-repeat;
}

.atlassian-logo {
  background: url(../img/atlassian-logo.svg) center no-repeat;
}

.audi-logo {
  background: url(../img/audi-logo.svg) center no-repeat;
}

.plan {
  background-image: url(../img/plan-background.png);
  background-repeat: no-repeat;
  background-position: right 150px;
  font-family: 'Roboto', sans-serif;
}
.plan__inner {
  padding-top: 209px;
  padding-bottom: 216px;
}
.plan__suptitle {
  margin-bottom: 27px;
  color: #3D4F9F;
  font-size: 10px;
  line-height: 12px;
  font-weight: 500;
}
.plan__title {
  margin-bottom: 27px;
  color: #3D4F9F;
  font-family: 'Quicksand', sans-serif;
  font-size: 35px;
  line-height: 46px;
  font-weight: 500;
}
.plan__subtitle {
  margin-bottom: 47px;
  max-width: 413px;
  color: #8D96BD;
  font-style: 15px;
  line-height: 28px;
  font-weight: 400;
}
.plan__btn {
  position: relative;
  display: inline-block;
  background-color: #4C85FF;
  color: #fff;
  font-weight: 700;
}
.plan__btn::after {
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 9px;
  height: 7px;
  width: 7px;
  background-image: url(../img/icon-btn-rightarrow.svg);
}
.plan__btn-2 {
  border: 1px solid #D1D1E4;
  font-weight: 500;
  background-color: transparent;
  color: #ADB4D2;
}

.about {
  color: #3D4F9F;
  background-color: #fff;
  font-family: 'Quicksand', sans-serif;
}
.about__inner {
  padding: 170px 0;
  text-align: center;
  background-image: url(../img/about-background.png);
  background-size: cover;
  background-position: center;
}
.about__suptitle {
  margin-bottom: 20px;
  font-family: 'Roboto', sans-serif;
  font-size: 10px;
  line-height: 11px;
  font-weight: 500;
}
.about__title {
  margin-bottom: 92px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
}
.about__list {
  display: flex;
  margin: 0 auto 100px;
  width: fit-content;
}
.about__item {
  padding-top: 102px;
  max-width: 140px;
  background-position: top;
  background-size: 70px 70px;
  background-repeat: no-repeat;
}
.about__item-1 {
  background-image: url(../img/about-item-1.svg);
}
.about__item-2 {
  background-image: url(../img/about-item-2.svg);
}
.about__item-3 {
  background-image: url(../img/about-item-3.svg);
}
.about__item-4 {
  background-image: url(../img/about-item-4.svg);
}
.about__item:not(:last-child) {
  margin-right: 27px;
}
.about__item-title {
  margin-bottom: 25px;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #4074F8;
}
.about__item-subtitle {
  font-size: 11px;
  line-height: 19px;
  font-weight: 600;
}
.about__btn {
  margin-right: 30px;
  padding: 13px 15px 13px 16px;
  font-size: 13px;
  line-height: 16px;
  font-weight: 700;
  color: #D43F3F;
  background-color: #FFD7D7;
}
.about__span::before {
  content: '';
  position: absolute;
  top: 50%;
  transform: translateX(-50%);
  right: 15px;
  width: 15px;
  height: 1px;
  background-color: #DAE4FE;
}
.about__span {
  position: relative;
  margin-right: 30px;
  font-size: 11px;
  line-height: 19px;
  font-weight: 600;
  color: #ADB3CB;
}
.about__span::after {
  content: '';
  position: absolute;
  top: 50%;
  transform: translateX(-50%);
  left: 30px;
  width: 15px;
  height: 1px;
  background-color: #DAE4FE;
}
.about__btn-2 {
  color: #3A79FF;
  background-color: #D2E1FF;
}

/*# sourceMappingURL=style.css.map */
