@font-face {
    font-family: 'Quicksand', sans-serif;
    src: url(../fonts/Quicksand-Light.woff2),
    url(../fonts/Quicksand-Light.woff);
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: 'Quicksand', sans-serif;
    src: url(../fonts/Quicksand-Regular.woff2),
    url(../fonts/Quicksand-Regular.woff);
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'Quicksand', sans-serif;
    src: url(../fonts/Quicksand-Medium.woff2),
    url(../fonts/Quicksand-Medium.woff);
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: 'Quicksand', sans-serif;
    src: url(../fonts/Quicksand-SemiBold.woff2),
    url(../fonts/Quicksand-SemiBold.woff);
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: 'Quicksand', sans-serif;
    src: url(../fonts/Quicksand-Bold.woff2),
    url(../fonts/Quicksand-Bold.woff);
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: 'Roboto', sans-serif;
    src: url(../fonts/Roboto-Light.woff2),
    url(../fonts/Roboto-Light.woff);
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: 'Roboto', sans-serif;
    src: url(../fonts/Roboto-Regular.woff2),
    url(../fonts/Roboto-Regular.woff);
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'Roboto', sans-serif;
    src: url(../fonts/Roboto-Medium.woff2),
    url(../fonts/Roboto-Medium.woff);
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: 'Roboto', sans-serif;
    src: url(../fonts/Roboto-Bold.woff2),
    url(../fonts/Roboto-Bold.woff);
    font-style: normal;
    font-weight: 700;
}

$Roboto: 'Roboto', sans-serif;
$Quicksand: 'Quicksand', sans-serif;
$text-color-blue: #3D4F9F;
%for-suptitle {
    font-family: $Roboto;
    font-size: 10px;
    line-height: 12px;
    font-weight: 500;

    color: $text-color-blue;
}

%for-title {
    font-family: $Quicksand;
    font-size: 24px;
    line-height: 30px;
    font-weight: 500;
    letter-spacing: 0.024999999999999998em;

    color: $text-color-blue;
}

*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: #fff;
  text-decoration: none;
}

a:visited {
  color: #fff;
}

textarea {
  resize: none;
  border: none;
  outline: none;
}

input {
  outline: none;
  border: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

ul, ol {
  list-style: none;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
  background: transparent;
}

.btn {
    padding: 13px 23px;

    font-family: $Quicksand;
    font-size: 13px;
    line-height: 16px;
}

input[type="search"]::-webkit-search-cancel-button {
  display: none;
}

.active {
  display: block !important;
}

.not-active {
  display: none !important;
}

.container {
    max-width: 1206px;
    width: 100%;
    margin: 0 auto;
    transform: translateX(-44px);
}

body {
    box-sizing: border-box;
    background-color: #E4E6F0;
}

.header {
    background-color: #fff;
    font-family: $Quicksand;
    &__inner {
        display: flex;
        align-items: center;
        padding: 17px 29px 17px 0;
    } 

    &__img {
        margin-right: 73px;
    }

    &__nav {
        text-align: center;
        &-list {
            display: flex;
        }
        &-item:not(:last-child) {
            margin-right: 44px;
        }
        &-link {
            color: #697CA6;

            font-size: 12px;
            line-height: 15px;
            font-weight: 500;
            letter-spacing: 0.03333333333333333em;
        }
    }

    &__media {
        display: flex;
        margin-left: auto;
        margin-right: 44px;

        &-item:not(:last-child) {
            margin-right: 29px;
        }

        &-link {
            display: inline-block;
        }

        &-icon {
            display: inline-block;
            width: 20px;
            height: 20px;
        }
    }

    &__btn {
        padding: 15px 19px;

        color: $text-color-blue;
        background-color: #D2E1FF;

        font-size: 13px;
        line-height: 16px;
        font-weight: 700;
    }
}

.facebook-icon {background: url(../img/icon-fb.svg) center no-repeat;}
.telegram-icon {background: url(../img/icon-tg.svg) center no-repeat;}
.twitter-icon {background: url(../img/icon-twitter.svg) center no-repeat;}
.media-icon {background: url(../img/icon-m.svg) center no-repeat;}

.hero {
    background-image: url(../img/hero-background.png);   
    background-size: cover;
    background-position: 0 -30px;
    font-family: $Roboto;

    &__inner {
        padding: 88px 0 203px 0;
    }

    &__text {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 303px 0;
        max-width: 580px;

        text-align: center;
    }

    &__suptitle {
        margin-left: -13px;
        margin-bottom: 16px;

        @extend %for-suptitle;
    }

    &__title {
        margin-bottom: 18px;

        color: $text-color-blue;

        font-family: $Quicksand;
        font-size: 48px;
        line-height: 60px;
        font-weight: 300;
    }

    &__subtitle {
        margin-bottom: 16px;
        max-width: 500px;

        color: #8D96BD;

        font-size: 15px;
        line-height: 29px;
        font-weight: 400;
    }

    &__btn {
        padding: 26px;
        border-radius: 50%;

        box-shadow: 0 0 5px lightgray;
        background-color: #fff;
        background-image: url(../img/icon-play.svg);
        background-position: center;
        background-repeat: no-repeat;

        cursor: pointer;
    }
}

.partners {
    background-color: #fff;

    &__inner {
        padding: 61px 159px;
    }

    &__list {
        display: flex;
        align-items: center;
    }

    &__item:not(:last-child) {
        margin-right: 66px;
    }

    &__icon {
        display: inline-block;
        width: 120px;
        height: 25px;
    }
}

.bitbucket-logo {background: url(../img/bitbucker-logo.svg) center no-repeat;}
.watch-logo {background: url(../img/watch-logo.svg) center no-repeat;}
.facebook-logo {background: url(../img/facebook-logo.svg) center no-repeat;}
.atlassian-logo {background: url(../img/atlassian-logo.svg) center no-repeat;}
.audi-logo {background: url(../img/audi-logo.svg) center no-repeat;}

.plan {
    background-image: url(../img/plan-background.png);
    background-repeat: no-repeat;
    background-position: 560px 109px;
    font-family: $Roboto;

    &__inner {
        padding-left: 153px;
        padding-top: 199px;
        padding-bottom: 216px;
    }

    &__suptitle {
        margin-bottom: 27px;

        @extend %for-suptitle;
    }

    &__title {
        margin-bottom: 20px;

        color: $text-color-blue;

        font-family: $Quicksand;
        font-size: 35px;
        line-height: 46px;
        font-weight: 500;
    }

    &__subtitle {
        margin-bottom: 54px;
        max-width: 413px;

        color: #8D96BD;

        font-size: 15px;
        line-height: 28px;
        font-weight: 400;
        letter-spacing: 0.013333333333333334em;
    }

    &__btn {
        position: relative;

        display: inline-block;
        padding: 13px 34px 13px 23px;

        background-color: #4C85FF;
        color: #fff;

        font-weight: 700;
    }

    &__btn::after {
        content: '';

        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 20px;

        height: 7px;
        width: 7px;
        background-image: url(../img/icon-btn-rightarrow.svg)
    }

    &__btn-2 {
        border: 1px solid #D1D1E4;

        font-weight: 500;

        background-color: transparent;
        color: #ADB4D2;
    }
}

.about {
    color: $text-color-blue;
    background-color: #fff;
    font-family: $Quicksand;

    &__inner {
        padding: 165px 0;

        text-align: center;

        background-image: url(../img/about-background.png);
        background-size: contain;
        background-position: 60px 95px;
        background-repeat: no-repeat;
    }

    &__suptitle {
        margin-left: -27px;
        margin-bottom: 20px;

        @extend %for-suptitle;
    }

    &__title {
        margin-left: -28px;
        margin-bottom: 89px;
    }

    &__list {
        display: flex;
        margin: 0 217px 116px;;
        width: fit-content;
    }

    &__item {
        padding-top: 99px;
        max-width: 140px;

        background-position: top;
        background-size: 70px 70px;
        background-repeat: no-repeat;
    }

    &__item-1 {
        background-image: url(../img/about-item-1.svg);
    }

    &__item-2 {
        background-image: url(../img/about-item-2.svg);
    }

    &__item-3 {
        background-image: url(../img/about-item-3.svg);
    }

    &__item-4 {
        background-image: url(../img/about-item-4.svg);
    }

    &__item:not(:last-child) {
        margin-right: 62px;
    }

    &__item-title {
        margin-bottom: 25px;

        font-size: 14px;
        line-height: 24px;
        font-weight: 400;

        color: #4074F8;
    }

    &__item-subtitle {
        font-size: 11px;
        line-height: 19px;
        font-weight: 600;
    }

    &__btn {
        padding: 13px 25px 13px 16px;

        font-size: 13px;
        line-height: 16px;
        font-weight: 700;
        
        color: #D43F3F;
        background-color: #FFD7D7;
    }

    &__span::before {
        content: '';

        position: absolute;
        top: 50%;
        transform: translateX(-50%);
        right: 15px;

        width: 15px;
        height: 1px;

        background-color: #DAE4FE;
    }

    &__span {
        position: relative;

        margin: 0 50px;

        font-size: 11px;
        line-height: 19px;
        font-weight: 600;

        color: #ADB3CB;
    }

    
    &__span::after {
        content: '';

        position: absolute;
        top: 50%;
        transform: translateX(-50%);
        left: 30px;

        width: 15px;
        height: 1px;

        background-color: #DAE4FE;
    }

    &__btn-2 {
        color: #3A79FF;
        background-color: #D2E1FF;
    }
}

.stats {
    font-family: $Quicksand;

    &__inner {
        display: flex;
    }

    &__left {
        display: inline-block;
        padding-top: 145px;
        padding-bottom: 81px;
        padding-right: 90px;
        width: 50%;
        max-height: 342px;

        text-align: end;

        background-color: #5E80FF;
        background-image: url(../img/stats-left-icon.svg);
        background-repeat: no-repeat;
        background-position: 87% 25%;

        &-title {
            color: #fff;
        }

        &-suptitle {
            margin-left: auto;
            color: #fff;
        }
    }

    &__right {
        display: inline-block;
        padding-top: 145px;
        padding-bottom: 81px;
        padding-left: 90px;
        width: 50%;
        max-height: 342px;

        background-color: #E9EFFF        ;
        background-image: url(../img/stats-right-icon.svg);
        background-repeat: no-repeat;
        background-position: 13% 23%;

        &-title {
            color: #5E80FF;
        }

        &-suptitle {
            color: #5E80FF;
        }
    }

    &__title {
        font-size: 48px;
        line-height: 83px;
        font-weight: 400;
    }

    &__suptitle {
        max-width: 260px;
        font-size: 18px;
        line-height: 23px;
        font-weight: 500;
    }
}

.resources {
    background-color: #F5F8FF;
    text-align: center;

    &__inner {
        padding-top: 98px;
        padding-bottom: 213px;
    }

    &__suptitle {
        margin-bottom: 20px;
        @extend %for-suptitle;
    }

    &__title {
        margin-bottom: 78px;
        @extend %for-title;
    }

    &__main-wrapper {
        display: flex;
        width: fit-content;
        margin: 0 auto;
    }

    .arrow {
        width: 27px;
        height: 20px;
        transform: translateY(192px);
    }

    &__left-arrow {
        margin-right: 122px;
        background-image: url(../img/resources-icon-leftarrow.svg)
    }

    &__right-arrow {
        margin-left: -24px;
        background-image: url(../img/resources-icon-rightarrow.svg)
    }
    
    &__img-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-right: 64px;
    }

    &__text-container {
        text-align: start;
    }

    &__content {
        display: flex;
        padding: 70px 53px 62px 27px;
        max-width: 958px;
        transform: translateX(-74px);
        border: 1px solid #D8E3FE;
        background-color: #fff;
        
        &-img {
            position: relative;

            margin-right: 5px;
            max-width: 267px;
            max-height: 267px;
        }

        &-img::after {
            content: '';

            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;

            width: 100%;
            height: 100%;
            background: linear-gradient(13.46deg, rgba(255, 199, 53, 0.44) 1.89%, rgba(255, 227, 154, 0.93) 1.9%, rgba(255, 159, 90, 0) 68.24%), url(photo-1474377207190-a7d8b3334068.jpg);        }

        &-img-2 {
            position: relative;

            max-width: 126px;
            max-height: 126px;
        }

        &-img-2::after {
            content: '';

            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;

            width: 100%;
            height: 100%;

            background: linear-gradient(27.48deg, rgba(255, 53, 53, 0.48) 14.02%, rgba(255, 179, 90, 0) 68%), url(photo-1456615074700-1dc12aa7364d.jpg);
        }

        &-img-3 {
            position: relative;

            max-width: 126px;
            max-height: 126px;
        }

        &-img-3::after {
            content: '';

            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;

            width: 102%;
            height: 101%;

            background: linear-gradient(13.49deg, rgba(53, 170, 255, 0.68) 11.59%, rgba(90, 136, 255, 0) 96.88%), url(photo-1497348231296-713b847f4ca4.jpg);
        }

        &-title {
            font-family: $Quicksand;
            font-size: 35px;
            line-height: 46px;
            font-weight: 400;
            letter-spacing: 1px;
            color: $text-color-blue;
        }

        &-subtitle {
            margin-bottom: 24px;
            max-width: 408px;

            font-family: $Roboto;
            font-size: 14px;
            line-height: 27px;
            font-weight: 400;
            color: #8D96BD;
        }
    }

    &__btn {
        margin-top: 45px;
        margin-right: 20px;
        padding: 15px 19px;

        color: $text-color-blue;
        background-color: #D2E1FF;

        font-size: 13px;
        line-height: 16px;
        font-weight: 700;
    }

    &__btn-2 {
        font-size: 13px;
        line-height: 16px;
        font-weight: 700;
        color: #A6B6DA;
    }
}

.comments {
    background: linear-gradient(180deg, #EAF0FF 0%, #F6F9FF 100%);

    &__inner {
        display: flex;
        padding: 146px 0;
    }

    &__suptitle {
        margin-bottom: 31px;
        @extend %for-suptitle;
    }

    &__title {
        margin-bottom: 14px;
        margin-right: 132px;
        @extend %for-title;
        font-size: 36px;
    }

    &__subtitle {
        max-width: 323px;

        font-size: 12px;
        line-height: 23px;
        font-weight: 600;
        color: #A4ABC8;
    }

    &__swiper-wrapper {
    }

    &__slide {
        position: relative;

        margin-right: 64px;
        padding: 41px 70px 53px;
        max-width: 423px;
        border: 1px solid #D8E3FE;

        background-color: #fff;

        &-text {
            font-family: $Roboto;
            font-size: 14px;
            font-weight: 400;
            line-height: 24px;
            letter-spacing: 0.03em;
            text-align: left;

            color: #676F95;
        }
    }

    &__picture {
        position: absolute;
        bottom: -27px;
        left: 50%;
        transform: translateX(-50%);

        display: block;
        width: 62px;
        height: 62px;

        background-image: url(../img/comments-picture1.png);
    }
}